.address_form_container {
    height: calc(100% - 70px); // 70px is the min height and the height of the navbar.
    border: 10px solid green;
    width: 100%;
}

.address_form_sub_container {
    padding: 2em;
    height: 100%;
    border: 10px solid yellow;
}
