@import "~xometry_styles/_xom-variables.scss";

.xometry_logo {
    height: 50px;
    padding-top: 10px;
    padding: 5px;
}

.xometry_app_bar {
    background-color: $darker-midnight;
    min-height: 70px;
}

.xometry_nav_bar_item_li {
    padding-left: 10px;
    padding-right: 10px;
}

.xometry_nav_bar_item_a {
    color: white !important;
    font-size: 20px;
}
