@import "~xometry_styles/_xom-variables.scss";

.submit_button_container {
    text-align: center;
    align-items: center;
}

.submit_button {
    border-radius: 0px !important;
    height: 40px !important;
    border: 2px solid black;
    font-weight: 700;
    font-size: 17px;
    background-color: white !important;

    &:hover {
        border: 2px solid $xom-blue;
        color: $xom-blue !important;
    }

    &:disabled {
        border: 2px solid $gray-light;
        color: $gray-light !important;
    }
}
