@import "~xometry_styles/_xom-variables.scss";

.field_title {
    font-weight: 700;
    font-size: 17px;
}

.field_title_light {
    margin-left: 5px;
    font-weight: 400;
    font-size: 17px;
}

.form_input {
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid black;
}

.form_input_short {
    width: 100%;
}

.form_input_long {
    width: 100%;
}

.error_text {
    font-size: 17px;
    font-weight: 700;
    color: $brand-danger;
}

.warning_text {
    font-size: 17px;
    font-weight: 700;
    color: $brand-warning;
}
