@import "~xometry_styles/_xom-variables.scss";

.vertical_align_text {
    text-align: center;
}

.error_text {
    font-size: 17px;
    font-weight: 700;
    color: $brand-danger;
}

.success_text {
    font-size: 17px;
    font-weight: 700;
    color: $brand-success;
}
